node_modules
wkhtmltox
roompark/static/public/css/bundle.css
roompark/static/public/css/bundle_print.css
roompark/static/public/css/bundle_presentation.css
roompark/static/public/css/bundle_plan_svg.css
roompark/static/public/js/bundle.js
roompark/static/public/images/icons.svg
roompark/static/public/pano/css
roompark/static/public/pano/js/custom_pano.js
roompark/static/public/infographics/css/bundle.css
roompark/static/public/infographics/js/infographics.js
roompark/static/sitemap.xml
roompark/static/public/csv/refriday_2019.csv
roompark/static/public/csv/refriday_2019_napominania.csv
roompark/static/public/csv/refriday_2019_bron_na_kvartiri.csv
roompark/static/public/csv/refriday_2019_obratnaya_svyaz.csv
roompark/static/public/csv/refriday_2020.csv
roompark/static/public/csv/refriday_2020_napominania.csv
roompark/static/public/csv/refriday_2020_bron_na_kvartiri.csv
roompark/static/public/csv/refriday_2020_obratnaya_svyaz.csv
roompark/static/public/csv/2020_vihodnie.csv
roompark/static/public/csv/napominanie_o_snizhenii.csv

# Мусор (и один лог-файл) от IDE, GDE, менеджеров пакетов и самого питона
Thumbs.db:encryptable
Thumbs.db
npm-debug.log
package-lock.json
.idea/
*.iml
*:com.apple*
*:Zone.Identifier
.DS_Store
node_modules/
manage/*.pdf
bower_components/
__pycache__/
*.pyc
*.egg-info
*.egg
*.pid
.sass-cache/
/.cache/
semantic.json
semantic/

# Локальные конфиги
/roompark/config.local.py

# Файлы, создаваемые приложением
/var/
