{% extends 'base.html' %}
{% if request.view_args.get('card_id') %}
{% set qs = dict(card_id = request.view_args.get('card_id'))%}
{% set title_btn = 'Сохранить' %}
{% else %}
{% set title_btn = 'Добавить' %}
    {% set qs = dict()%}
{% endif %}


{% block body %}
    <div class="row justify-content-center">
<div class="col-8 card flex justify-content-between">
    <a href="{{ url_for('.cards_get') }}"> <- вернуться</a>
    <h2 >Редактировать задачу</h2>

    <form class="card-body" action="{{ url_for('.card_edit', **qs) }}" method="post">
        {{ form.csrf_token() }}
        {{ form.category.label(class="label-control") }}
        {{ form.category(class="form-control") }}
         {{ form.subcategory.label(class="label-control") }}
        {{ form.subcategory(class="form-control") }}
        {{ form.questions.label(class="label-control") }}
        {{ form.questions(class="form-control") }}
        <label class="label-control" for="abstract">Ключевые слова</label>
        {{ form.abstract(class="form-control") }}
        {{ form.response.label(class="label-control") }}
        {{ form.response(class="form-control") }}

        {% if request.view_args.get('card_id') %}
            <a class="btn btn-outline-danger mt-3" href="{{ url_for('.card_del', card_id=request.view_args.get('card_id')) }}">Удалить</a>
        {% endif %}
        <button class="btn btn-info mt-3" type="submit">{{ title_btn }}</button>

    </form>
</div>
</div>
{% endblock body %}
{% block script %}
    <script>
        $(function () {
        });
        </script>
{% endblock script %}
