{% extends 'base.html' %}
{% set page = request.view_args.get('board_id') or 'Actual' %}
{% set task_id = request.view_args.get('task_id') or 0 %}
{% set user_id = request.view_args.get('user_id') or 0 %}
{% set new = request.view_args.get('new') or '' %}

{% set qs = {'board_id': page} %}

{% if user_id == 0 %}
{% set qs = {'board_id': page, 'task_id': task_id} %}
{% else %}
{% set qs = {'user_id': user_id, 'task_id': task_id, 'filter': filter} %}
{% endif %}
{#{% set qs = qs.update(filter) %}#}



{% block body %}
    <div class="row">
    {# Меню#}
    {% include 'menu.html' %}

    {# Список задач #}
    <div class="col-6">
    <h1>Доски</h1>
        {% include 'nav.html' %}
        <h1>{{ 'Список задач' if not user else 'Мои задачи'}} </h1>
        <table class="table table-borderless">
            <thead class="table-light">
            <tr>
                <th class="col-auto border-start">#</th>
                <th class="col-auto border-start">Заголовок</th>
                <th class="col border-start">Теги</th>
                <th class="col border-start">Исполнитель</th>
                <th class="col border-start">Дедлайн</th>
                <th class="col border-start">Естимейт</th>
                <th class="col border-start " title="Важность"><i
                        class="fa fa-exclamation-triangle fa-1x text-danger"></i></th>
                <th class="col border-start">Этап</th>
                {% if page == 'Complete' %}
                <th class="col border-start">Готово</th>
                {% endif %}
            </tr>
            </thead>
            {% for task in tasks %}
                {% if task_id == task.id %}
                    {% set active = 'bg-warning' %}
                {% endif %}
                <tr class="{{ active }}" id="task" style="--bs-bg-opacity: .1;">
                    <td class="col-auto" id="id">{{ loop.index }}</td>
                    <td class="border-start d-none" id="task_id">{{ task.id }}</td>
                    {% if user_id == 0 %}
                    {% set qs = {'board_id': page, 'task_id': task.id, 'filter': filter} %}
                    {% else %}
                    {% set qs = {'user_id': user_id, 'task_id': task.id, 'filter': filter} %}
                    {% endif %}

                    <td class="border-start d-flex justify-content-between align-items-start"><a href="{{ url_for('.index', **qs) }}">
                            {{ task.title }} </a><span class="badge bg-secondary rounded-pill" title="количество комментов">{{ task.comments|len_list or '' }}</span>
                    </td>
                    <td class="border-start fs-6">{{ task.tags or '' }}</td>
                    <td class="border-start">{{ task.user.name or '' }}</td>
                    <td class="border-start text-danger text-nowrap">{{ task.deadline.strftime('%d-%m-%Y') if task.deadline }}</td>
                    <td class="border-start text-primary">{{ task.estimate or '' }}</td>
                    <td class="border-start text-primary " id="importance">{{ importance(task.importance) }}</td>
                    <td class="border-start text-nowrap">{{ icon_stage(task.stage) }}</td>
                    {% if page == 'Complete' %}
                <td class="border-start text-nowrap">{{ task.completed.strftime('%d-%m-%Y') if task.completed }}</td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {# Описание задачи #}

    <div class="col-4" >

        <span class="invisible">Задача</span>
        <div class="float-end">
        {% if page != 'Complete' %}
        <a class="btn btn-success text-end" id='add_task' href="{{ url_for('.index', board_id=page, create_task=1) }}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Добавить задачу</a>
        {% endif %}
        </div>
        </h1>
        {%  if task_id != 0 or create_task%}
        <ul class="nav nav-tabs nav-task">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" id="manage">Описание задачи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="comment">Комментарии</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="history">История</a>
            </li>
            <li>

        </ul>
        <form class="" id="task_desc" action="{{ url_for('.index', **qs) }}" method="post">
            {{ form.csrf_token() }}
            <div class="task manage">
                <label class="control-label" for="title">Заголовок</label>
                {{ form.title(class="form-control mb-3") }}
                <label class="control-label" for="description">Описание задачи</label>
                {{ form.description(class="form-control mb-3", rows=15) }}

                <div class="row">
                    <div class="col">
                        <label class="control-label" for="deadline">Дейдлайн</label>
                        {{ form.deadline(class="form-control mb-3 text-danger") }}</div>
                    <div class="col">
                        <label class="control-label" for="user_id">Естимейт</label>
                        {{ form.estimate(class="form-control mb-3") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="control-label" for="user_id">Исполнитель</label>
                        {{ form.user_id(class="form-select mb-3 ") }}</div>
                    <div class="col ">
                        <label class="control-label " for="">Важность</label>
                        {{ form.importance(class="form-select mb-3") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="control-label" for="user_id">Теги</label>
                        {{ form.tags(class="form-control mb-3") }}
                    </div>
                    <div class="col">
                        <label class="control-label" for="board">Доска</label>
                        {{ form.board(class="form-select mb-3") }}
                    </div>
                </div>
                <div class="row justify-content-between">
                        <div class="col-auto">
                            <input type="radio" class="btn-check" name="stage" id="reset" autocomplete="off"
                                   value="Not_started">
                            <label class="btn btn-outline-dark" for="reset">Не в работе</label>

                            <input type="radio" class="btn-check" name="stage" id="dev" autocomplete="off"
                                   value="Dev">
                            <label class="btn btn-outline-primary" for="dev">Разработка</label>

                            <input type="radio" class="btn-check" name="stage" id="Qa" autocomplete="off"
                                   value="Qa">
                            <label class="btn btn-outline-warning" for="Qa">Qa</label>
                            <input type="radio" class="btn-check" name="stage" id="Review" autocomplete="off"
                                   value="Review">
                            <label class="btn btn-outline-secondary" for="Review">Ревью</label>

                            <input type="radio" class="btn-check" name="stage" id="Release" autocomplete="off"
                                   value="Release">
                            <label class="btn btn-outline-success" for="Release">Готов к релизу</label>

                            <input type="radio" class="btn-check" name="stage" id="Done" autocomplete="off"
                                   value="Done">
                            <label class="btn btn-outline-success" for="Done">Готов</label>
                        </div>
                        <span class="text-muted my-2">Не забывай выставлять нужный этап для задачи</span>
                    <div class="row my-2">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                         {% if task_id !=0 %}
                         <a href="#modal-delete" data-bs-toggle="modal" class="btn btn-outline-danger">Удалить задачу</a>
                    </div>
                    </div>

                {% endif %}
                </div>
            </div>
            <div class="task comment">
                <ul class="list-group">
                    {% if task.comments %}
                        {% for comment in task.comments %}
                            {% if comment %}
                            <li class="list-group-item "><textarea rows="5" class="form-control"
                                                                   name="comment_v">{{ comment }}</textarea>
                            {% endif %}
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <label class="control-label" for="description"><h3>Новый комментарий</h3></label>
                <textarea rows="5" class="form-control" name="comment"></textarea>
        </form>
    </div>
        <div class="task history">
            <ul class="list-group list-group-flush w-75">
                {% if history_task %}
                    {% for h in history_task %}
                        <li class="list-group-item d-flex justify-content-between">
                        <dev>{{ loop.index }} - {{ h.created.strftime('%d-%m-%Y') }} <span class="text-primary">{{ h.user.name }}
                        </span>установил(а) статус-
                        <span class="badge bg-info rounded-pill">{{ h.stage if h.stage else h.task_status }}</span> </dev>
                    {% endfor %}
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <form method="post" action="{{ url_for('.del_task', **qs) }} ">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="modal" id="modal-delete">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Удалить задачу?</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            Задача будет удалена на совсем. Запись появится в таблице 'history'
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
                {% endif %}


{% endblock body %}
{% block script %}
    <script>
        $(function () {
            let $task = $('tr#task'), $block_task_manage = $('.task.manage'), $block_task_history = $('.task.history'),
                $block_task_comment = $('.task.comment'), board = '{{ page }}';
            $block_task_comment.hide()
            $block_task_history.hide()
            $block_task_manage.show()



            // В зависимости от важности покрасим строки таблицы
            $task.each(function () {
                if ($(this).find('#importance i').hasClass('text-danger')) {
                    $(this).find('#id').addClass('border-start border-5 border-danger')
                } else if ($(this).find('#importance i').hasClass('text-success')) {
                    $(this).find('#id').addClass('border-start border-5 border-success')
                }
            });
            // подсветить доску
            $(`#${board}`).addClass('active')

            // Подсвечивает активную задачу в таблице
            {#$task.on('click', function () {
                var task_id = $(this).find('#task_id').text()
                url = '{{ url_for('.index') }}' + `${board}/` + `task/${task_id}`
                location.assign(url)
                description_task.focus()
            });#}
            // Отображение нажатого радио баттона stage
            $(':input[name="stage"]').each(function () {
                if ($(this).attr('value') === '{{ task.stage }}') {
                    $(this).attr('checked', 'checked')
                }
            });
            // Навигация задачи - вкладки
            $('.nav-task li').on('click', function () {
                this_id = $(this).find('a').attr('id')
                // блок задача - комментарии
                $(this).find('a').addClass("active")
                $('.nav-task li').not($(this)).find('a').removeClass('active')
                // отображение блока комментарий, управление или история
                $('.task').each(function () {
                    if ($(this).hasClass(this_id)) {
                        $(this).show()
                        $block_task_history.show()

                    } else {
                        $(this).hide()
                    }
                })

            });
        });
    </script>
{% endblock script %}
