{% extends "base.html" %}

{% block body %}
    <div class="container ">
        <div class="row mt-5 justify-content-center">

            <form class="col-4 border p-3 bg-light" method="POST" action="/login">
                <h3 class="title">Авторизация</h3>
                {{ form.csrf_token() }}
                {{ form.name(class="form-control mb-2") }}
                {{ form.password(class="form-control mb-2") }}
                <div class="form-check mb-3">
                    {{ form.remember_my(class="form-check-input") }}
                    <label class="form-check-label" for="flexCheckDefault">
                        Запомнить меня
                    </label>
                </div>
                <button class="btn btn-primary">Войти</button>
                <p class="pt-1"><img class="rounded float-start me-2" src="{{ url_for('static', filename='noutbook.png') }}" alt="" width="30%">
                   Трекер задач предназначен для отслеживания и управления задачами. Она включает в
                    себя функции создания, редактирования и удаления задач, а также просмотра списка задач и их статусов.
                </p>
            </form>

        </div>
{% endblock %}
