{% extends 'base.html' %}
{% set task_id = request.view_args.get('task_id') or 0 %}
{% block nav %}
{% endblock %}
{% block body %}
    <div class="row">
    {% include 'user_menu.html' %}
        <div class="col-6">
            <h1>Мои задачи</h1>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead class="table-light">
                        <tr>
                            <th class="col">#</th>
                            <th class="col ">Описание задачи</th>
                            <th class="col-1">Теги</th>
                            <th class="col-1">Дедлайн</th>
                            <th class="col-1">Естимейт</th>
                            <th class="col-1">Важность</th>
                            <th class="col-1">Состояние</th>
                        </tr>
                        </thead>
                        {% for task in tasks %}
                            <tr class="{{ active }}" id="task">
                                <td class="col-auto">{{ loop.index }}</td>
                                <td class="col-auto border-start d-none" id="task_id">{{ task.id }}</td>
                                <td class="col-auto border-start"><a
                                        href="{{ url_for('.mytask', task_id=task.id) }}">{{ task.title }}</a></td>
                                <td class="col-auto border-start text-nowrap text-success">{{ task.tags or '' }}</td>
                                <td class="col-auto border-start text-danger">{{ task.deadline.strftime('%d-%m-%Y') if task.deadline }}</td>
                                <td class="col-auto border-start text-primary">{{ task.estimate or '' }}</td>
                                <td class="col-auto border-start">{{ importance(task.importance) }}</td>
                                <td class="col-auto border-start">{{ icon_stage(task.stage) }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h1>Описание задачи {{ task_id }}</h1>
            <ul class="nav nav-tabs nav-task">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" id="manage">Описание задачи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="comment">Комментарии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="history">История</a>
                </li>

            </ul>
            <form class="task manage" id="task_desc" action="{{ url_for('.mytask', task_id=task_id, board_id=page) }}"
                  method="post">
                {{ form.csrf_token() }}
                <label class="control-label" for="title">Заголовок</label>
                {{ form.title(class="form-control mb-3") }}
                <label class="control-label" for="description">Описание задачи</label>
                {{ form.description(class="form-control mb-3", rows=5) }}

                <div class="row">
                    <div class="col">
                        <label class="control-label" for="deadline">Дейдлайн</label>
                        {{ form.deadline(class="form-control mb-3 text-danger") }}</div>
                    <div class="col">
                        <label class="control-label" for="user_id">Естимейт</label>
                        {{ form.estimate(class="form-control mb-3") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="control-label" for="user_id">Теги</label>
                        {{ form.tags(class="form-control mb-3") }}
                    </div>
                    <div class="col">
                        <label class="control-label" for="board">Доска</label>
                        {{ form.board(class="form-select mb-3") }}
                    </div>
                </div>
                <div class="row justify-content-between borde">
                    <div class="col-auto">
                        <input type="radio" class="btn-check" name="stage" id="dev-job" autocomplete="off" value="Dev">
                        <label class="btn btn-outline-primary" for="dev-job">Разработка</label>
                        <input type="radio" class="btn-check" name="stage" id="dev-pause" autocomplete="off" value="Qa">
                        <label class="btn btn-outline-warning" for="dev-pause">Qa</label>
                        <input type="radio" class="btn-check" name="stage" id="dev-continue" autocomplete="off"
                               value="Review">
                        <label class="btn btn-outline-secondary" for="dev-continue">Ревью</label>
                        <input type="radio" class="btn-check" name="stage" id="qa-start" autocomplete="off"
                               value="Release">
                        <label class="btn btn-outline-success" for="qa-start">Готов к релизу</label>
                        <input type="radio" class="btn-check" name="stage" id="qa-pause" autocomplete="off"
                               value="Done">
                        <label class="btn btn-outline-success" for="qa-pause">Готов</label>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </form>
            <form class="task comment" id="task_comment" action="{{ url_for('.task_add_comment', task_id=task_id) }}"
                  method="post">
                {{ form_comments.csrf_token() }}
                <div id="comments">
                    <ul class="list-group">
                        {% for comment in comments %}
                            <li class="list-group-item "><textarea rows="10" class="form-control"
                                                                   name="text">{{ comment.description }}</textarea></li>
                        {% endfor %}
                    </ul>
                </div>
                <label class="control-label" for="description"><h3>Новый комментарий</h3></label>
                {{ form_comments.description(class="form-control mb-3", rows=10) }}
                <button type="submit" class="btn btn-info">Добавить комментарий</button>
            </form>
            <div class="task history">
                <ul class="list-group">
                    {% if history_task %}

                        {% for h in history_task %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">

                            {{ h.created.strftime('%d-%m-%Y') }} сменился статус на {{ h.stage }} -
                            {{ h.user.username }}
                        {% endfor %}
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
        <script>
        $(function () {
            let $task = $('tr#task'), $block_task_manage=$('.task.manage'),$block_task_history=$('.task.history'),
                $block_task_comment=$('.task.comment');
            $block_task_comment.hide()
            $block_task_history.hide()
            $block_task_manage.show()

            $task.each(function() {
            // В зависимости от важности покрасим строки таблицы
            if ($(this).find('#importance i').hasClass('text-danger')){
            $(this).find('#id').addClass('border-start border-5 border-danger')
            } else if ($(this).find('#importance i').hasClass('text-success')) {
                $(this).find('#id').addClass('border-start border-5 border-success')
            }
            })
            // Отображение нажатого радио баттона stage
            $(':input[name="stage"]').each(function () {
                if ($(this).attr('value') === '{{ task.stage }}') {
                    $(this).attr('checked', 'checked')
                }
            });
            // Навигация задачи
            $('.nav-task li').on('click', function () {
                this_id = $(this).find('a').attr('id')
                // блок задача - комментарии
                $(this).find('a').addClass("active")
                $('.nav-task li').not($(this)).find('a').removeClass('active')
                // отображение блока комментарий, управление или история
                $('.task').each(function (){
                    if ($(this).hasClass(this_id)) {
                        $(this).show()
                    } else {
                        $(this).hide()
                    }
                })

            });


        });
        </script>
    {% endblock script %}