{% extends 'base.html' %}
{% set page = request.view_args.get('board_id') or 'Actual' %}
{% set task_id = request.view_args.get('task_id') or 0 %}
{% set user_id = request.view_args.get('user_id') or 0 %}


{% block body %}
    <div class="row">
    {# Меню#}
    {% include 'menu.html' %}

    {# Список задач #}
    <div class="col-6">
    <div class="row ms-5">
        <div class="col-4">
            <div class="">
                <div class="card-body mb-3">
                {% if user.photo %}
                <img class="mb-3" src="{{ user.photo.url }}">
                {% else %}
                    <img class="mb-3" src="/static/person.png">
                {% endif %}

                    <div class="d-grid gap-2 col-6">
                            <button type="button" class="btn btn-success btn-sm text-nowrap" data-bs-toggle="modal"
                                    data-bs-target="#modal-photo-upload">
                                Загрузить фото
                            </button>
                    <a href="{{ url_for('.user_edit', user_id=user.id) }}" class="btn btn-info btn-sm text-light">Редактировать</a>

                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                    <div class="row justify-content-between">
                        <div class="col-auto text-nowrap"><h1>{{ user.name }}</h1></div>
                        <div class="col-auto">Был на сайте: {{ user.last_active.strftime('%d-%m-%Y %H:%M') if user.last_active }}</div>
                    </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">

                                <li class="list-group-item">
                                    Мобильный телефон:
                                </li>
                                <li class="list-group-item">
                                    Telegram: <a href="http://t.me/">qq</a>
                                </li>
                            <li class="list-group-item">
                                E-mail: <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                            </li>
                                <li class="list-group-item">
                                День рождения:
                                </li>
                            <li class="list-group-item">
                                Город:
                                </li>
                            <li class="list-group-item">
                                <h4>Права:</h4>

                                    Прав на сайте нет.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </div>
    {# Описание задачи #}

    <div class="col-4">
    </div>
<form id="form_modal" method="post" action="{{ url_for('.user_profile', user_id=user.id) }}" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="modal" id="modal-photo-upload">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Выбрать фото</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" type="file" name="photo">
                    </div>
                    <div class="modal-footer">
                        {% if user_id !=0 %}
                            <button type="submit" class="btn btn-danger" id="btn-delete">Добавить фото</button>

                        {% endif %}
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock body %}
{% block script %}

{% endblock script %}
