{% extends 'base.html' %}
{% set page = request.view_args.get('board_id') or 'Actual' %}
{% set task_id = request.view_args.get('task_id') or 0 %}
{% set user_id = request.view_args.get('user_id') or 0 %}
{% if user %}
{% set qs = {'user_id': user_id, 'filter': filter} %}
{% set endpoint = '.user_tasks' %}
{% else %}
{% set endpoint = '.index' %}
{% set qs = {'board_id': page, 'filter': filter} %}
{% endif %}


{% block body %}
    <div class="row">
    {# Меню#}
    {% include 'menu.html' %}

    {# Список задач #}
    <div class="col-6">
        <h3 class="mb-3">Юзеры
        <div class="float-end">
        <a class="btn btn-primary text-end" id='add_task' href="{{ url_for('.user_edit') }}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Добавить юзера</a>
        </div>
        </h3>
        <table class="table table-borderless">
            <thead class="table-light">
            <tr>
                <th class="col-1 border-start">#</th>
                <th class="col-1 border-start d-none">id</th>
                <th class="col-auto border-start">Имя</th>
                <th class="col-1 border-start">Email</th>
                <th class="col-1 border-start">Роли</th>
            </tr>
            </thead>
            {% for user in users %}

                <tr class="{{ active }}" id="task" style="--bs-bg-opacity: .1;">
                    <td class="col-auto" id="id">{{ loop.index }}</td>
                    <td class="border-start d-none" id="task_id">{{ user.id }}</td>
                    <td class="border-start"><a href="{{ url_for('.user_profile', user_id=user.id) }}">{{ user.name }}</a>
                    </td>
                    <td class="border-start fs-6">{{ user.email }}</td>
                    <td class="border-start text-nowrap ">{{ user.role.roles }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {# Описание задачи #}

    <div class="col-4">
    </div>


{% endblock body %}
{% block script %}
    <script>

    </script>
{% endblock script %}
